/*CSS for project3*/

body{
    font-size: 62.5%; /* Font size is 10px */
	line-height: 2.1em;
	width: 100%;
		
	 /*Stops text size adjustment with change in smartphone orientation. Mobile First :D*/
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%; 
	}
	
#page-content{
	margin: 0 auto;
	width: 60%;
	}

form{
	padding-top: 0.9em
	}
	
form div + div{
	margin-top: 1em;
	}
	
label {
	display: inline-block;
	width: 9em;
	text-align: right;
	}

input, textarea {
	font: 1em sans-serif;
	width: 60%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0.1em solid rgb(204,204,204);
	border-radius: 1em;
	}

button {
	/*padding-left: 9em;*/
	margin-left: 12em;
	border-radius: .8em;
	font-weight: bold;
	}
	
	
#name{
    background-color: rgb(75,121,158);
	color: rgb(205,218,228);
	text-align: center;
	box-shadow: 1em 1em 0.6em black;
	}
#logo{
    font-family: billabong, lobster, arimo, cursive;
	font-size: 2.8em;
	color: rgb(205,218,228);
	margin-top: 0em;
	padding-top: 1.3em;
	padding-bottom: 1.3em;	
	}
#existing-users{
	font-size: 1.6em;
    padding-top: 3em;
	padding-left: 5%;
	padding-right: 5%;
	}
#welcome{
	font-size: 1.6em;
	}
	
#form-intro{
	padding-top: 1.8em;
	}
	
#form-intro2{
	padding-top: 3.6em;
	}
	
#new-users{
	font-size: 1.6em;
	padding-top: 3em;
	padding-left: 5%;
	padding-right: 5%;
	}

@media screen and (min-width 32em) {
	#page-content{
	    width: 75%;
		}
	}
	
@media screen and (min-width 48em) {
	#page-content{
		width: 70%;
		}
	}

@media screen and (min-width 64em) {
	#page-content{
		width: 65%;
		}
	}
	
	
	