/*CSS for project3*/

#name{
    background-color: rgb(75,121,158);
	color: rgb(205,218,228);
	text-align: center;
	
	}
#logo{
    font-family: billabong, cursive;
	color: rgb(205,218,228);
	margin-top: 2em;
	}
	