/*CSS for project3*/

body{
    font-size: 62.5%; /* Font size is 10px */
	line-height: 2.1em;
		
	 /*Stops text size adjustment with change in smartphone orientation. Mobile First :D*/
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%; 
	}
#name{
    background-color: rgb(75,121,158);
	color: rgb(205,218,228);
	text-align: center;
	box-shadow: 1em 1em 0.6em black;
	}
#logo{
    font-family: billabong, lobster, arimo, cursive;
	font-size: 2.8em;
	color: rgb(205,218,228);
	margin-top: 0em;
	padding-top: 1.3em;
	padding-bottom: 1.3em;	
	}
#existing-users{
	font-size: 1.6em;
    padding-top: 3em;
	padding-left: 5%;
	padding-right: 10%;
	float: left;
	}
#welcome{
	font-size: 1.8em;
	}
#new-users{
	font-size: 1.6em;
	padding-top: 3em;
	padding-left: 10%;
	padding-right: 5%;
	float: left;
	}
/*
@media screen and (min-width 64em) {
	#existing-users{
		float: center;
		}
	#new-users{
		float: clear;
		}
	
	}
	*/
	
	